div.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

ul {
    border: 1px solid red;
}

ul li {
    list-style-type: none;
}

img {
    height: 150px;
    width: auto;
}