<form #formLogin="ngForm" (ngSubmit)="formLogin.valid && onSubmit()">
    <div class="invisible">
        Form submitted ? {{formLogin.submitted}}
        Form valid ? {{formLogin.valid}}
        Form invalid ? {{formLogin.invalid}}
    </div>

    <fieldset>
        <label for="firstname">Firstname</label>
        <input id="firstname" name="firstname" type="text" [(ngModel)]="newLoginForm.firstname" #firstname=ngModel required minlength="3" maxlength="15">
    </fieldset>
    <div *ngIf="formLogin.submitted && firstname.errors">
        <span *ngIf="firstname.errors?.['required']">Le nom est requis</span>
        <span *ngIf="firstname.errors?.['minlength']">La longueur minimale doit être supérieure à 3</span>
        <span *ngIf="firstname.errors?.['maxlength']">La longueur maximale doit être inférieure à 15</span>
      </div>

    <fieldset>
        <label for="lastname">Lastname</label>
        <input id="lastname" name="lastname" type="text" [(ngModel)]="newLoginForm.lastname" #lastname=ngModel required minlength="3" maxlength="15">
    </fieldset>    
    <div *ngIf="formLogin.submitted && lastname.errors">
        <span *ngIf="lastname.errors?.['required']">Le prénom est requis</span>
        <span *ngIf="lastname.errors?.['minlength']">La longueur minimale doit être supérieure à 3</span>
        <span *ngIf="lastname.errors?.['maxlength']">La longueur maximale doit être inférieure à 15</span>
      </div>

    <fieldset>
        <label for="email">Email</label>
        <input id="email" name="email" type="email"  [(ngModel)]="newLoginForm.email" #email=ngModel required email>
    </fieldset>
    <div *ngIf="formLogin.submitted && email.errors">
        <span *ngIf="email.errors?.['required']">Le mail est requis</span>
      </div>

    <fieldset>
        <label for="password">password</label>
        <input id="password" name="password" type="email"  [(ngModel)]="newLoginForm.password" #password=ngModel required>
    </fieldset>
    <div *ngIf="formLogin.submitted && password.errors">
        <span *ngIf="password.errors?.['required']">Le mot de passe est requis</span>
      </div>

    <button type="submit">Submit</button>
</form>
