<form (ngSubmit)="devData()">
    <fieldset>
        <label for="devLastName">Nom de famille</label>
        <input id="devLastName" name="devLastName" type="text" [(ngModel)]="devLastName">
    </fieldset>
    <fieldset>
        <label for="devFirstName">Prénom</label>
        <input id="devFirstName" name="devFirstName" type="text" [(ngModel)]="devFirstName">
    </fieldset>
    <fieldset>
        <label for="devAge">Nom de famille</label>
        <input id="devAge" name="devAge" type="number" [(ngModel)]="devAge">
    </fieldset>
    <fieldset>
        <label for="devGender">Nom de famille</label>
        <input id="devGender" name="devGender" type="text" [(ngModel)]="devGender">
    </fieldset>
    <fieldset>
        <label for="devBio">Nom de famille</label>
        <input id="devBio" name="devBio" type="text" [(ngModel)]="devBio">
    </fieldset>
    <fieldset>
        <label for="devSkill">Nom de famille</label>
        <input id="devSkill" name="devSkill" type="text" [(ngModel)]="devSkill">
    </fieldset>
</form>

<app-skill
    [skillName] = "skillName";

>
</app-skill>

    
